/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Sofia:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 background: #ff004c;
 font-family: Arial;
}

::selection{
    color: #fff;
    background: #ff004c;
}

.loveQuotes{
  position: absolute;
  color: white;
  text-align: center;
  font-family: Sofia;
  font-weight: 600;
  padding: 10px;
}
.loveQuotes p{
  font-size: 20px;
  font-style: italic;
}
.quoteRef{
  font-size: 16px;
}

.start_btn{
    font-size: 25px;
    font-weight: 500;
    color: #ff004c;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: white;
    cursor: pointer;
    margin-top: 40px;
    box-shadow: 0 9px #999;
}

.start_btn:hover {
  background-color: white;
}

.start_btn:active {
  background-color: #c5c3c3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.userInput{
  position: relative;
  top: 12em;
}
#personName, #userName, #relationship {
  color: #ff004c;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  border: none;
}
#surName:focus, #userName:focus, #relationship:focus{
  color: white;
  background-color: #ff004c;
}

#userInput, #personInput{
  color: blue;
  text-transform: uppercase;
  font-weight: bold;
}
#lovePercent{
  font-size: 8em;
  font-weight: bold;
  color: #ff004c;
}
.loveHead{
  background-color: wheat;
  font-stretch: 20px;
}
#reload{
    font-size: 25px;
    font-weight: 500;
    color: #ff004c;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: white;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0 9px #999;
}
#reload:active{
  background-color: #c5c3c3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#loveComment{
  background-color: #ff004c;
  color: white;
  margin-top: 5px;
  font-size: 20px;
  font-family: Sofia;
  border-radius: 10px 0;
}

/** Loader **/
#loader {
  position: absolute;
  top: -1em;
  left: 4em;
  background-color: wheat;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ff004c;
  width: 200px;
  height: 200px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
